.boxes {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100vw - 10px);
    padding: 4px;
}
.boxes input {
    display: block;
    float: left;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 2px;
    text-align: center;
}
.boxes label {
    display: block;
    float: left;
    line-height: 20px;
    margin: 2px -5px;
    clear: left;
    width: 100vw;
    text-align: center;
    font-style: italic;
}
.run:checked + .boxes label {
    display: none;
}
.boxes label:not(:first-of-type) {
    border-top: solid 1px #7F7F7F;
}
.run:not(:checked) + .boxes {
    border: solid 1px #7F7F7F;
}
.boxes label + input, .boxes .input-box + .intermediate-box, .boxes .input-box + .intermediate-box, .boxes .input-box + .output-box {
    clear: left;
}
.boxes .input-box:not(:checked)::before, .run:not(:checked) + .boxes .output-box:not(:checked)::before {
    content: "0";
}
.boxes .input-box:checked::before, .run:not(:checked) + .boxes .output-box:checked::before {
    content: "1";
}
.run:not(:checked) + .boxes .intermediate-box {
    display: none;
}
.run {
    position: fixed;
    -webkit-appearance: none;
    z-index: 1;
}
.run:checked {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.run:checked + .boxes input {
    margin: 0;
}
.run:checked::before {
    content: "";
}
.run:not(:checked) {
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    background-color: #00AF3F;
}
.run:not(:checked)::before {
    content: "▶";
    color: #FFFFFF;
}
.run:checked + .boxes .input-box {
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.run:not(:checked) ~ .overlay {
    display: none;
}
.run:checked ~ .overlay {
    display: flex;
    flex-direction: column;
}
.overlay .padding {
    flex-grow: 1;
    color: #FFFFFF;
}
.overlay .message {
    font-size: 3em;
    text-align: center;
}
