.boxes {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100vw - 10px);
    padding: 4px;
}
.boxes input {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px;
    opacity: 0;
}
.boxes label {
    display: block;
    float: left;
    line-height: 20px;
    margin: 2px -5px;
    clear: left;
    width: 100vw;
    text-align: center;
    font-style: italic;
}
.run:checked + .boxes label {
    display: none;
}
.boxes label:not(:first-of-type) {
    border-top: solid 1px #7F7F7F;
}
.run:not(:checked) + .boxes {
    border: solid 1px #7F7F7F;
}
.boxes label + input, .boxes .input-box + .intermediate-box, .boxes .input-box + .intermediate-box, .boxes .input-box + .output-box {
    clear: left;
}
.boxes input + svg + div {
    width: 20px;
    height: 20px;
    color: rgba(0, 0, 0, 0);
    z-index: 1;
    position: relative;
    float: left;
    margin: 2px;
    margin-left: -22px;
    text-align: center;
    line-height: 20px;
}
.boxes .input-box + svg + div {
    z-index: -1;
}
.boxes .intermediate-box + svg + div, .run:checked .boxes input + svg + div {
    display: none;
}
.boxes .input-box:not(:checked) + svg + div::before, .run:not(:checked) + .boxes .output-box:not(:checked) + svg + div::before {
    content: "0";
    color: #000000;
}
.boxes .input-box:checked + svg + div::before, .run:not(:checked) + .boxes .output-box:checked + svg + div::before {
    content: "1";
    color: #000000;
}
.run:checked + .boxes input {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
.run:not(:checked) + .boxes .intermediate-box {
    display: none;
}
.run {
    position: fixed;
    -webkit-appearance: none;
    z-index: 1;
}
.run:checked {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.run:checked + .boxes input {
    margin: 0;
}
.run:checked::before {
    content: "";
}
.run:not(:checked) {
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    background-color: #00AF3F;
}
.run:not(:checked)::before {
    content: "▶";
    color: #FFFFFF;
}
.run:checked + .boxes .input-box {
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.run:not(:checked) ~ .overlay {
    display: none;
}
.run:checked ~ .overlay {
    display: flex;
    flex-direction: column;
}
.overlay .padding {
    flex-grow: 1;
    color: #FFFFFF;
}
.overlay .message {
    font-size: 3em;
    text-align: center;
}
svg {
    display: none;
    position: fixed;
    left: 50vw;
    top: 50vh;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: center;
}
circle {
    stroke: #000000;
    stroke-width: 20px;
    fill: none;
    stroke-dasharray: 100px 10000px;
    transform-origin: center;
}
svg:nth-of-type(42n+0), svg:nth-of-type(42n+1), svg:nth-of-type(42n+2), svg:nth-of-type(42n+3), svg:nth-of-type(42n+4), svg:nth-of-type(42n+5), svg:nth-of-type(42n+6), svg:nth-of-type(42n+7), svg:nth-of-type(42n+8), svg:nth-of-type(42n+9), svg:nth-of-type(42n+10), svg:nth-of-type(42n+11), svg:nth-of-type(42n+12), svg:nth-of-type(42n+13) {
    transform: rotate(0deg);
}
svg:nth-of-type(42n+14), svg:nth-of-type(42n+15), svg:nth-of-type(42n+16), svg:nth-of-type(42n+17), svg:nth-of-type(42n+18), svg:nth-of-type(42n+19), svg:nth-of-type(42n+20), svg:nth-of-type(42n+21), svg:nth-of-type(42n+22), svg:nth-of-type(42n+23), svg:nth-of-type(42n+24), svg:nth-of-type(42n+25), svg:nth-of-type(42n+26), svg:nth-of-type(42n+27) {
    transform: rotate(8.57deg) scale(1.1);
}
svg:nth-of-type(42n+28), svg:nth-of-type(42n+29), svg:nth-of-type(42n+30), svg:nth-of-type(42n+31), svg:nth-of-type(42n+32), svg:nth-of-type(42n+33), svg:nth-of-type(42n+34), svg:nth-of-type(42n+35), svg:nth-of-type(42n+36), svg:nth-of-type(42n+37), svg:nth-of-type(42n+38), svg:nth-of-type(42n+39), svg:nth-of-type(42n+40), svg:nth-of-type(42n+41) {
    transform: rotate(17.14deg) scale(0.91);
}
svg:nth-of-type(14n+0) circle {
    transform: rotate(0deg);
}
svg:nth-of-type(14n+1) circle {
    transform: rotate(25.71deg);
}
svg:nth-of-type(14n+2) circle {
    transform: rotate(51.43deg);
}
svg:nth-of-type(14n+3) circle {
    transform: rotate(77.14deg);
}
svg:nth-of-type(14n+4) circle {
    transform: rotate(102.86deg);
}
svg:nth-of-type(14n+5) circle {
    transform: rotate(128.57deg);
}
svg:nth-of-type(14n+6) circle {
    transform: rotate(154.29deg);
}
svg:nth-of-type(14n+7) circle {
    transform: rotate(180deg);
}
svg:nth-of-type(14n+8) circle {
    transform: rotate(205.71deg);
}
svg:nth-of-type(14n+9) circle {
    transform: rotate(231.43deg);
}
svg:nth-of-type(14n+10) circle {
    transform: rotate(257.14deg);
}
svg:nth-of-type(14n+11) circle {
    transform: rotate(282.86deg);
}
svg:nth-of-type(14n+12) circle {
    transform: rotate(308.57deg);
}
svg:nth-of-type(14n+13) circle {
    transform: rotate(334.29deg);
}
